.new-comment-body {
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
    display: inline-block;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    padding: 20px;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px #ddd;
    box-sizing: border-box;
    
}

.allComments ul {
    list-style-type: none;
    padding-left: 60px;
}

.comment-item {
    margin-bottom: 0px;
}

.comment-item .avatar img {
    border-radius: 50%;
}

.comments-lines hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 2px solid;
    margin: 1em 0;
    padding: 0;
    color: darkgrey;
}

.reply-btn {
    margin: 0px;
    border: 2px solid #000;
    border-radius: 15px;
    border-color: darkgrey;
    font-size: 15px;
    font-family: Georgia, serif; 
    color: gray;
    padding-left: 8px;
    padding-right: 8px;
    float: right;
}

.comment-header {
    font-size: 18px;
    font-family: Georgia, serif;
    font-weight: bold;
    text-decoration: underline;
    text-align: left;
}

.comment-body {
    width: 100%;
    text-align: left;
    font-family: Larish Neue;
    font-size: 18px;
}

.new-comment-body {
    font-family: Larish Neue;
    
}

#comment input[type=submit] {
    margin: 10px;
    border: 2px solid #000;
    border-radius: 15px;
    border-color: darkgray;
    font-size: 15px;
    font-family: Georgia, serif; 
    color: gray;
    padding-left: 20px;
    padding-right: 20px;
    float: right;
}

.comment-login-link {
    font-family: "Playfair Display";
    letter-spacing: 3px;
    color: #0066cc;
    text-decoration: underline;
}
