@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: 'Poppins', sans-serif;
    color: pink;
}

.navbar {
      margin-bottom: 0;
      border-radius: 0;
       }
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}
   
       
footer {
      background-color: #555;
      color: white;
      padding: 15px;
}

a {
    color: palevioletred;
}



.carousel-inner{
    max-height: 350px;

}

.carousel-inner img{
    position: absolute;
  left: 50%;
  top: 50%;/*
  height: auto;
  width: 100%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}*/

.home-map {
    min-width: 100%;
}